<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">New Alert</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
  
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alert Name</label> <label style="color: red">*</label> 
                  <input type="text" class="form-control" [(ngModel)]="alert.alertName" name="alertName">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Alert Type</label><label style="color: red">*</label> 
                  <select class="form-control" id="alertSelect" [(ngModel)]="alert.alertType" name="alertType">
                    <option *ngFor="let i of alertTypes">{{i}}</option>
  
                  </select>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Company Name</label><label style="color: red">*</label> 
                  <input type="text" class="form-control" [(ngModel)]="alert.userName" name="userName">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Running Method</label><label style="color: red">*</label> 
                  <select class="form-control" id="runningSelect" [(ngModel)]="alert.runningMethod" (change)="onRunMethodChange($event.target.value)" name="runningMethod" >
  
                    <option *ngFor="let i of runMethods">{{i}}</option>
  
                  </select>
                </div>
              </div>
  
  
            </div>
            <div class="row" *ngIf='(runManual === true)'>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run Date</label>
  
   
                </div>
  
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label>Schedule</label>
                  <select class="form-control" id="schduleSelect" [(ngModel)]="alert.schedule" name="schedule">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                  </select>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run On Time</label>
                  <input id="checkbox1" type="checkbox" class="btn btn-primary form-control" [(ngModel)]="alert.runOnTime" name="runOnTime">
                </div>
  
              </div>
  
  
            </div>
  
  
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>File Name</label><label style="color: red">*</label> 
                  <input type="text" class="form-control" [(ngModel)]="alert.fileName" name="fileName">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>File Type</label><label style="color: red">*</label> 
                  <select class="form-control" id="fileType" [(ngModel)]="alert.fileType" name="fileType">
                    <option *ngFor="let i of fileTypes">{{i}}</option>
  
                  </select>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alert FTP</label><label style="color: red">*</label> 
                  <select class="form-control" id="ftpAccount" name="ftp">
                    <option>Silicon Account</option>
                    <option>Arrow Account</option>
                    <option>BeaPCN Account</option>
                  </select>
  
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Wrapped Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.wrappedCols" name="weappedCols">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Hyper Link Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.hyperLinkCols" name="hyperLinkCols">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>EQ 60 Days Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.equationCols" name="eqCols">
                </div>
              </div>
  
  
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>LEVIN Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.levinCol" name="levinCol">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>LEVIN Params</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.levinPara" name="levinPara">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date Format Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.dateFormatCols" name="dateFormatCols">
                </div>
              </div>
  
            </div>
            <div class="row">
             
              <div class="col-md-8">
                <div class="form-group">
                  <label>Wide Columns</label>
                  <input type="text" class="form-control" [(ngModel)]="alert.wideCols" name="wideCols">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email</label><label style="color: red">*</label> 
                  <input type="text" class="form-control" [(ngModel)]="alert.email" name="email">
                </div>
              </div>
  
            </div>
  
  
  
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Query</label><label style="color: red">*</label> 
                  <textarea rows="5" class="form-control" placeholder="Here can be your query string" [(ngModel)]="alert.query" name="query"></textarea>
                </div>
              </div>
            </div>
  
            <button type="submit" class="btn btn-info btn-fill pull-right" name="createButton" (click)="onCreateOrUpdateAlert(alert)">{{submitButtonName}}</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  
  
  </div>
  