<div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">

  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

  <div class="sidebar-wrapper" >
    <div class="logo">
      <a href="/home" class="simple-text">
        Alert Auto Job
      </a>
    </div>

    <ul class="nav">

      <li>
        <a routerLink="/home/create-alert" routerLinkActive="active">

          <i class="pe-7s-note2"></i>
          <p>Create Alert</p>
        </a>
      </li>
      <li>
        <a routerLink="/home/list-alert" routerLinkActive="active">
          <i class="pe-7s-gleam"></i>
          <p>Manage Alert</p>
        </a>
      </li>

      <li>
        <a routerLink="/home/ftp" routerLinkActive="active">

          <i class="pe-7s-folder"></i>
          <p>Manage FTP</p>
        </a>
      </li>



      <li>
        <a routerLink="/home/settings" routerLinkActive="active">

          <i class="pe-7s-config"></i>
          <p>Settings</p>
        </a>
      </li>

    </ul>
  </div>
</div>
